@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #000000;
  background: #FAFAFA;
}

.centered-div {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.centered-div-two {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.lock-scroll {
  overflow: hidden;
}



